export(record_start)
export(record_script)
export(record_stop)
export(get_records)
export(validate)
export(validate_text)
export(validate_text_batch)
export(validate_scalar)
export(split_student_text)
export(read_student_text)
export(find_student_text)
export(source_student_file)
export(grab)
export(get_student_value)
export(result_to_outcome)
export(ag_submission_test)
export(run_autograder)
export(robjgrader_set_llm)
export(robjgrader_add_gof_labels)
export(check_spec)
export(flag_submission)
export(read_do_file)
export(split_do_file)
export(validate_do)

S3method(print, robjgrader_records)
S3method(print, robjgrader_result)

importFrom(rlang, as_label)
importFrom(stats, family, formula, nobs, setNames, terms)
